# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Compiled binary directory
build

# Cache directory
cache

# Dependency directories
node_modules

# Optional npm cache directory
.npm
