.month-picker.hide
  fieldset.month-picker-fieldset
    input(type="radio" name="month" value="jan" id="jan")
    label(for="jan").month-picker-label Jan
    input(type="radio" name="month" value="feb" id="feb")
    label(for="feb").month-picker-label Feb
    input(type="radio" name="month" value="mar" id="mar")
    label(for="mar").month-picker-label Mar
    input(type="radio" name="month" value="apr" id="apr")
    label(for="apr").month-picker-label Apr
    input(type="radio" name="month" value="may" id="may")
    label(for="may").month-picker-label May
    input(type="radio" name="month" value="jun" id="jun")
    label(for="jun").month-picker-label Jun
    input(type="radio" name="month" value="jul" id="jul")
    label(for="jul").month-picker-label Jul
    input(type="radio" name="month" value="aug" id="aug")
    label(for="aug").month-picker-label Aug
    input(type="radio" name="month" value="sep" id="sep")
    label(for="sep").month-picker-label Sep
    input(type="radio" name="month" value="oct" id="oct")
    label(for="oct").month-picker-label Oct
    input(type="radio" name="month" value="nov" id="nov")
    label(for="nov").month-picker-label Nov
    input(type="radio" name="month" value="dec" id="dec")
    label(for="dec").month-picker-label Dec
