//angular animation
/* you can also define the transition style
   on the base class as well (.repeat-item) */
.repeat-client.ng-enter,
.repeat-client.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-client.ng-enter,
.repeat-client.ng-leave.ng-leave-active {
  opacity:0;

}
.repeat-client.ng-leave,
.repeat-client.ng-enter.ng-enter-active {
  opacity:1;

}
