
// Contacts card
.first
  table
    font: 16px 'Dense'
  table.striped>tbody>tr:nth-child(odd)
    background: backtwo
.contacts
  padding: 5px;
  position: fixed;
  overflow: auto
  height: 100%
  thead
    border-bottom: 1px solid backtwo
 td
   width: 20%
   img
     width: 100%
#contactsList
  border-right: 2px solid backfour
#showInfo
  position: relative;
  font-family: 'Raleway Bold'
  float: right;
  overflow-y: overlay
  height: 100%
  padding-left: 30px
  padding-top: 15px
  img
    box-shadow: ombra
  .info
    font-size: 16px !important
    font-weight: bold;
    i.left
      color: yellowfont
      margin-right: 3px
      font-size: 20px;
