 
// Contacts card
.first
  table
    font-family: 'Dense'
  table.striped>tbody>tr:nth-child(odd)
    background: backtwo
.contacts
  padding: 5px;
  position: fixed;
  overflow: auto
  height: 100%
  thead
    border-bottom: 1px solid backtwo
 td
   width: 20%
   img
     width: 50%
#contactsList
  border-right: 2px solid backfour
#showInfo
  position: relative;
  float: right;
  overflow-y: overlay
  height: 100%
  padding-left: 30px
  padding-top: 15px
  img
    box-shadow: ombra
  .info
    color: yellowfont
    font-size: 16px !important
  i.left
    margin-right: 1px;
    font-size: 16px;
