// Start New Scheda Card
.newScheda
  padding 0px
//Sidebar of excercise
#list-esercizi
  padding: 10px
  position: fixed;
  overflow: auto;
  height: 92%
  .collapsible
    background: back
    padding: 5px
  .collapsible-header
    background: none
    text-transform: capitalize;
    border-bottom: 2px solid backtwo
  .collapsible-body
    border: 0
    padding: 10px
    ul li
      margin-bottom: 5px
  img
    width: 100% !important
  .tabs
    background: backtwo
  .tab.tab a.active
    background: back
  > div
    margin-top: -14px
    background: back
.excercises
  .col.s3
    // background: white
    align-self: auto;
    margin-bottom:10px
    padding: 0px
    display: inline-block;

.esercizi ul li
  border 3px solid black
  width: 31%
  color: white
  display: inline-block;
  margin: 1%
  img
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
.cardScheduler
  overflow: auto
  padding-left: 40px !important
  height: 92%
  float: right !important
  form
    input#cardName
      margin-left: 25%
      width: 50%
      text-align: center
      font-size: 20px
      color: backthree
  .newDay
    color: backtwo
    i
      cursor: pointer;
  img
    width: 100%
  .excercises
    display: flex;
    align-items: center;
    flex-flow: wrap;
    width: 100%
  .excercise-item
    // color: #fff
    // // flex-basis: 50%
    // width: 25%
    // flex: 1
    // box-sizing: border-box;
    // // display: flex;
    // background: navcolor
    // // align-items: center;
    // padding: 0 5px
    // margin: 5px
    // // height: 500px
    // border 1px solid black
    display: inline-block;
    background:blue;
    margin:10px 0 0 2%;
    flex-grow: 1;
    // height:100px;
    width: calc(100% * (1/5) - 10px - 1px);
// End New Scheda Card
@include max-width(992px)
  .excercise-item
    flex-basis 25%
    background: red
@include max-width(640px)
  .excercise-item
    flex-basis 50%
    background: green
