// Start New Scheda Card
.newScheda
  padding 0px
//Sidebar of excercise
#list-esercizi
  box-shadow ombra
  background: rgba(0,0,0,0.2)
  padding: 10px
  .collapsible
    box-shadow: none
    background: back
    padding: 5px
  .collapsible-header
    background: none
    text-transform: capitalize;
    border-bottom: 2px solid backtwo
  .collapsible-body
    border: 0
    padding: 10px
    box-shadow: ombra
    ul li
      margin-bottom: 5px
  img
    width: 100% !important
  .tabs
    background: backtwo
  .tab.tab a.active
    background: back
  > div
    margin-top: -14px
    background: back
.excercise-item
  color: #fff
  background: navcolor
.esercizi ul li
  border 3px solid black
  width: 31%
  color: white
  display: inline-block;
  margin: 1%
  img
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;

// End New Scheda Card
