// back = #421665
// backtwo = #230c36
// backthree = #3f2544
// backfour = #3f254e
// navcolor = rgb(16, 180, 160)
navcolor = yellowfont
ombra = 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

// back = #7B0A4E
// backfour = #7A3B4C
// backthree = #C75F7B
// backtwo = #C7107E

// back = #100f21
// backtwo = #12091d
// backthree = #39393b
// backfour = #434345
// #ff3800
// back = #0872ad
back = #091c28
backtwo = #0a2230
backthree = #0e405d
backfour = #091c28
// yellowfont = #f4cd80
yellowfont = #3F180B
pinkcard = #711254

::-webkit-scrollbar
    display: none;

.back
  background: back

.backtwo
  background: backtwo

.backthree
  background: backthree

.backfour
  background: backfour

body
  font: 14px "Raleway Extra", Helvetica, Arial, sans-serif
  background: backfour
  // background: backthree
  color: #ddd
  // background-image: url(http://skin.forumfree.net/2323/sfondo.png)!important
  // background-image: radial-gradient(backtwo, back);
/* TODO: indent and fix this shitty css */
.tabs .indicator
  background: none

@font-face
  font-family: "Dense"
  src: url(font/Dense-Regular.otf)

@font-face
  font-family: "Raleway"
  src: url(font/Raleway-Regular.ttf)

@font-face
  font-family: "Raleway Bold"
  src: url(font/Raleway-Bold.ttf)

@font-face
  font-family: "Raleway Light"
  src: url(font/Raleway-Light.ttf)

@font-face
  font-family: "Raleway Extra"
  src: url(font/Raleway-Extralight.ttf)


nav
  background: backtwo
  background-image: linear-gradient(to right, backtwo, backfour);

.navcolor
  background: navcolor

.yellowfont
  color: yellowfont

#main
  max-height 100%
  width 100%
  position absolute
  padding 0px
  input
    width: 90%
// Start Sidebar
.side
  // border-right 1px solid rgb(34, 30, 31)
  overflow: overlay
  width: 50px
  height: 100%
  background-image: linear-gradient(to bottom, backtwo, backfour);
  // box-shadow ombra
  padding 0px !important
  position fixed
  .collection
    border 0px
    margin-bottom: 0px
    .collection-item
      padding 10px 5px
      background: inherit
      border 0px
      color backthree
      cursor: pointer;
      padding-left: 25%
    li:hover
      border-left: 5px solid backthree
    .active
      background: backfour
      border-right 0
      box-shadow: none
      color:yellowfont
#newScheda
  background-repeat:no-repeat;
  fill backthree
  color backthree
  padding-left: 30%
#newScheda.active
    fill yellowfont
.collapsible
  border 0px
// end Sidebar


// Start Main Card
#mainContent
  float right
  position: relative;
  padding: 0px
  height: 90%
//End Main


.clientInfo
  padding 25px
  overflow: hidden;
  margin-top 10px
.input-field .prefix
  color back
.input-field .prefix.active
  color navcolor
#newClient
  input:focus
    border-bottom 1px solid navcolor
    box-shadow 0 1px 0 0 navcolor
    +label
      color navcolor






@import "./contacts"
@import "./calendar"
@import "./scheda"
@import "./angulAnimation"
// @import "./animations.css"
