::-webkit-scrollbar {
  display: none;
}
.back {
  background: #091c28;
}
.backtwo {
  background: #0a2230;
}
.backthree {
  background: #0e405d;
}
.backfour {
  background: #091c28;
}
body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  background: #091c28;
  color: #ddd;
}
/* TODO: indent and fix this shitty css */
.tabs .indicator {
  background: none;
}
@font-face {
  font-family: "Dense";
  src: url("font/Dense-Regular.otf");
}
@font-face {
  font-family: "Raleway";
  src: url("font/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway Bold";
  src: url("font/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway Light";
  src: url("font/Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway Extra";
  src: url("font/Raleway-Extralight.ttf");
}
nav {
  background: #0a2230;
  background-image: linear-gradient(to right, #0a2230, #091c28);
}
.navcolor {
  background: #3f180b;
}
.yellowfont {
  color: #3f180b;
}
#main {
  max-height: 100%;
  width: 100%;
  position: absolute;
  padding: 0px;
}
#main input {
  width: 90%;
}
.side {
  overflow: overlay;
  width: 50px;
  height: 100%;
  background-image: linear-gradient(to bottom, #0a2230, #091c28);
  padding: 0px !important;
  position: fixed;
}
.side .collection {
  border: 0px;
  margin-bottom: 0px;
}
.side .collection .collection-item {
  padding: 10px 5px;
  background: inherit;
  border: 0px;
  color: #0e405d;
  cursor: pointer;
  padding-left: 25%;
}
.side .collection li:hover {
  border-left: 5px solid #0e405d;
}
.side .collection .active {
  background: #091c28;
  border-right: 0;
  box-shadow: none;
  color: #3f180b;
}
#newScheda {
  background-repeat: no-repeat;
  fill: #0e405d;
  color: #0e405d;
  padding-left: 25%;
  height: 63px;
}
#newScheda.active {
  fill: #3f180b;
}
.collapsible {
  border: 0px;
}
#mainContent {
  float: right;
  position: relative;
  padding: 0px;
  height: 90%;
}
.clientInfo {
  padding: 25px;
  overflow: hidden;
  margin-top: 10px;
}
.input-field .prefix {
  color: #091c28;
}
.input-field .prefix.active {
  color: #3f180b;
}
#newClient input:focus {
  border-bottom: 1px solid #3f180b;
  box-shadow: 0 1px 0 0 #3f180b;
}
#newClient input:focus +label {
  color: #3f180b;
}
.first table {
  font: 16px 'Dense';
}
.first table.striped>tbody>tr:nth-child(odd) {
  background: #0a2230;
}
.contacts {
  padding: 5px;
  position: fixed;
  overflow: auto;
  height: 100%;
}
.contacts thead {
  border-bottom: 1px solid #0a2230;
}
td {
  width: 20%;
}
td img {
  width: 100%;
}
#contactsList {
  border-right: 2px solid #091c28;
}
#showInfo {
  position: relative;
  font-family: 'Raleway Bold';
  float: right;
  overflow-y: overlay;
  height: 100%;
  padding-left: 30px;
  padding-top: 15px;
}
#showInfo img {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
#showInfo .info {
  font-size: 16px !important;
  font-weight: bold;
}
#showInfo .info i.left {
  color: #3f180b;
  margin-right: 3px;
  font-size: 20px;
}
.month-picker {
  text-align: center;
  margin: 10px;
}
.month-picker fieldset {
  border: 0;
}
.month-picker-fieldset {
  display: inline-block;
  padding: 0 7px;
  background: rgba(0,0,0,0.4);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.7), inset 0 2px 2px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.7), inset 0 2px 2px rgba(0,0,0,0.3), 0 1px rgba(255,255,255,0.1);
}
.month-picker-fieldset > input {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.month-picker-label,
.month-picker-nav {
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
}
input:focus + .month-picker-label,
.month-picker-nav:focus {
  outline: 2px solid #5e9ed7;
  outline: 5px auto -webkit-focus-ring-color;
}
.month-picker-label {
  position: relative;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 200;
  color: #8d8ba6;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #000;
}
.month-picker-label,
.month-picker-label:before {
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.month-picker-label:before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 2px solid;
  border-color: #e4e0fb #b6b1d1 #b6b1d1;
  border-radius: 6px;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
  box-shadow: 0 0 1px rgba(0,0,0,0.2);
}
input:checked + .month-picker-label {
  color: #fff;
  background: #091c28;
}
input:checked + .month-picker-label:before {
  opacity: 1;
}
.month-picker-nav {
  width: 25px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.1);
}
.newScheda {
  padding: 0px;
}
#list-esercizi {
  padding: 10px;
  position: fixed;
  overflow: auto;
  height: 92%;
}
#list-esercizi .collapsible {
  background: #091c28;
  padding: 5px;
}
#list-esercizi .collapsible-header {
  background: none;
  text-transform: capitalize;
  border-bottom: 2px solid #0a2230;
}
#list-esercizi .collapsible-body {
  border: 0;
  padding: 10px;
}
#list-esercizi .collapsible-body ul li {
  margin-bottom: 5px;
}
#list-esercizi img {
  width: 100% !important;
}
#list-esercizi .tabs {
  background: #0a2230;
}
#list-esercizi .tab.tab a.active {
  background: #091c28;
}
#list-esercizi > div {
  margin-top: -14px;
  background: #091c28;
}
.excercises .col.s3 {
  align-self: auto;
  margin-bottom: 10px;
  padding: 0px;
  display: inline-block;
}
.esercizi ul li {
  border: 3px solid #000;
  width: 31%;
  color: #fff;
  display: inline-block;
  margin: 1%;
}
.esercizi ul li img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.cardScheduler {
  overflow: auto;
  height: 92%;
  float: right !important;
}
.cardScheduler form#formScheda {
  width: 50%;
  margin: auto;
  border-bottom: 0px;
}
.cardScheduler form#formScheda input#cardName {
  text-align: center;
  font-size: 20px;
  color: #0e405d;
  border-bottom: 0px;
}
.cardScheduler form#dataStart {
  margin-left: 5%;
}
.cardScheduler input#cardEnd {
  width: 100% !important;
  color: #0e405d;
  border-bottom: 0px;
}
.cardScheduler input#cardStart {
  width: 100% !important;
  color: #0e405d;
  border-bottom: 0px;
}
.cardScheduler .newDay {
  color: #0a2230;
}
.cardScheduler .newDay i {
  cursor: pointer;
}
.cardScheduler img {
  width: 100%;
}
.cardScheduler .row.selected {
  background-color: #0a2230;
}
.cardScheduler .excercises {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  width: 100%;
}
.cardScheduler .excercise-item {
  display: inline-table;
  margin: 10px 0 0 1%;
  flex-grow: 1;
  border: 2px solid ba;
  border-radius: 5px;
  padding: 5px;
  width: calc(100% * (1 / 4) - 10px - 1px);
}
.cardScheduler .excercise-item .img.valign-wrapper {
  border-top: 1px dotted #0e405d;
  height: 210px;
}
.cardScheduler .excercise-item input {
  width: 100% !important;
  background: none;
  text-align: center;
}
.cardScheduler .excercise-item input #esercizio_tipo {
  text-align: center;
}
.cardScheduler .excercise-item input .x {
  border-bottom: 1px solid #0e405d !important;
}
.repeat-client.ng-enter,
.repeat-client.ng-leave {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.repeat-client.ng-enter,
.repeat-client.ng-leave.ng-leave-active {
  opacity: 0;
}
.repeat-client.ng-leave,
.repeat-client.ng-enter.ng-enter-active {
  opacity: 1;
}
