back = #421665
backtwo = #230c36
// navcolor = rgb(16, 180, 160)
navcolor = yellowfont
ombra = 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
backthree = #3f2544
yellowfont = #f4cd80

pinkcard = #711254
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #3f254e
  color: yellowfont
  // background-image: url(http://skin.forumfree.net/2323/sfondo.png)!important
  // background-image: linear-gradient(to top right, backtwo, #3f254e);

nav
  background: backtwo
  background-image: linear-gradient(to right, backtwo, #3f254e);

.navcolor
  background: navcolor

.yellowfont
  background: pinkcard
  color: yellowfont

.container
  width: 80%
#main
  height 100%
  width 100%
  position relative
  padding 0px
  input
    width: 90%
  .avatar img
    height:20%
    width: 100%
  .element
    padding: 5px
    margin: 5px
    border: 3px solid white
    border-radius: 15px

// Start Sidebar
.side
  // border-right 1px solid rgb(34, 30, 31)
  overflow: overlay
  width: 50px
  height: 100%
  background: back
  background-image: linear-gradient(to bottom, backtwo, #3f254e);
  // box-shadow ombra
  padding 0px !important
  position fixed
  .collection
    border 0px
    margin-bottom: 0px
    .collection-item
      padding 10px 5px
      background: inherit
      border 0px
      color backthree
      cursor: pointer;
      padding-left: 25%
    li:hover
      border-left: 5px solid backthree
    .active
      background: #3f254e
      border-right 0
      box-shadow: none
      color:yellowfont
#newScheda
  background-repeat:no-repeat;
  fill backthree
  color backthree
  padding-left: 30%
  ul
    margin-left: 20px
#newScheda.active
    fill yellowfont
.collapsible
  border 0px
// end Sidebar


// Start Main Card
#mainContent
  float right
  padding: 0px
//End Main

// Contacts card
.contacts
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

#scheda
  background: white
  height: 100%
  .collapsible-body
    li
      border 1px solid blue
      border-radius 3px
      margin 5px
     li img
      width: 200px
      height: auto
.new
  padding: 5px;
  margin-bottom: 15px;
  heigth: 500px;
  width: 250px;
  text-align: center;
  border-radius: 5px;
    a
      color: white;
.client
  padding: 3px;
  border-radius: 5px;
  // box-shadow: 0 2px 5px 0 (rgba(navcolor, 0.16)), 0 2px 10px 0 (rgba(navcolor, 0.12));
   .card-reveal
      padding 20px 6px
      background rgba(0,0,0,0.5)
      color white
      p.card-title
        font-size: 14px
.person
  height: 280px
  img
    height: 100%
    width: 100%
.client:hover
    box-shadow: 0 2px 5px 5px rgba(navcolor, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.42);

.name
  bottom: 0
.card .card-content
  padding: 0px
  font-size: 20px
.clientInfo
  padding 25px
  overflow: hidden;
  margin-top 10px
.input-field .prefix
  color back
.input-field .prefix.active
  color navcolor
#newClient
  input:focus
    border-bottom 1px solid navcolor
    box-shadow 0 1px 0 0 navcolor
    +label
      color navcolor
// Start Calendar Card
.month-picker
  text-align: center;
  margin: 10px;
  fieldset
    border 0
.month-picker-fieldset
  display: inline-block;
  padding: 0 7px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.7), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.7), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
.month-picker-fieldset > input
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px) !important;
.month-picker-label, .month-picker-nav
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 25px;
  vertical-align: top;
  cursor: pointer;
input:focus + .month-picker-label, .month-picker-nav:focus
  outline: 2px solid #5e9ed7;
  outline: 5px auto -webkit-focus-ring-color;
.month-picker-label
  position: relative;
  padding: 0 7px;
  font-size: 12px;
  font-weight: 200;
  color: #8d8ba6;
  text-transform: uppercase;
  text-shadow: 0 1px 1px black;
.month-picker-label, .month-picker-label:before
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
.month-picker-label:before
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border: 2px solid;
  border-color: #e4e0fb #b6b1d1 #b6b1d1;
  border-radius: 6px;
  opacity: 0;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
input:checked + .month-picker-label
  color: white;
  background: back
input:checked + .month-picker-label:before
  opacity: 1;
.month-picker-nav
  width: 25px;
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.1);
// End Calendar Card

// Start New Scheda Card
.newScheda
  padding 0px
//Sidebar of excercise
#list-esercizi
  box-shadow ombra
  background: rgba(0,0,0,0.2)
  padding: 10px
  .collapsible
    box-shadow: none
    background: back
    padding: 5px
  .collapsible-header
    background: none
    text-transform: capitalize;
    border-bottom: 2px solid backtwo
  .collapsible-body
    border: 0
    padding: 10px
    box-shadow: ombra
    ul li
      margin-bottom: 5px
  img
    width: 100% !important
  .row
    margin-bottom: 0px
    > div
      padding: 0px
  .tabs
    background: backtwo
  .tab.tab a.active
    background: back
  > div
    margin-top: -14px
    background: back
.excercise-item
  color: #fff
  background: navcolor
.esercizi ul li
  border 3px solid black
  width: 31%
  color: white
  display: inline-block;
  margin: 1%
  img
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;

// End New Scheda Card
