.newScheda
  .col.s2#list-esercizi
    ul.tabs
      li.tab.col6
        a(href='#Fronte').active Fronte
      li.tab.col6
        a(href='#Dorso')|Dorso
    #Fronte
      ul.collapsible(data-collapsible='expandable')
        for img, type in files
          li
            .collapsible-header
              p=type
            .collapsible-body
              ul(id=type)
                for file in img
                  li(ng-click='addExcercise("'+file+'")') 
                    img(src='../images/Esercizi'+file)
    #Dorso
      
  .col.s10.cardScheduler
    form#formScheda
      input(id='cardName', type='text', name='cardName', ng-model='card.nome', placeholder='Titolo Nuova Scheda')
      //- input(type='text' ng-model='giornata')
    .row(id='riscaldamento' ng-class='{selected: 0==pointer}' ng-click='selectDay(0)')
      h3 {{giornate[0].nome}}
      .excercise-item(ng-repeat='esercizio in giornate[0].esercizi')
             table
                thead
                  
                  input(ng-model='esercizio.nome' id='esercizio_tipo' class='validate' type='text' placeholder='Tipo')
                    
                  tr
                    th ripetizioni
                    th peso
                    th pausa
                tbody
                  tr
                    td
                      input(ng-model='esercizio.ripetizioni' class='validate' type='number')
                    td 
                      input(ng-model='esercizio.peso' class='validate' type='number')
                    td 
                      input(ng-model='esercizio.pausa' class='validate' type='number')
              .img-excercise
               .img.valign-wrapper
                 img(ng-src='../images/Esercizi{{esercizio.tipo}}')   
    
    .row(ng-repeat='giorno in giornate' ng-if='$index > 0' ng-class='{selected: $index==pointer}' ng-click='selectDay($index)')
      h3 {{giorno.nome}}
      .excercise-item(ng-repeat='esercizio in giorno.esercizi')
             table
                thead
                  input(ng-model='esercizio.nome' id='esercizio_tipo' class='validate' type='text' placeholder='Tipo')
                  tr
                    th ripetizioni
                    th peso
                    th pausa
                tbody
                  tr
                    td
                      input(ng-model='esercizio.ripetizioni' class='validate x' type='number')
                    td 
                      input(ng-model='esercizio.peso' class='validate x' type='number')
                    td 
                      input(ng-model='esercizio.pausa' class='validate x' type='number')

              .img-excercise
               .img.valign-wrapper
                 img(ng-src='../images/Esercizi{{esercizio.tipo}}')   
     .row    
           h3.newDay Aggiungi Giorno 
             i.fa.fa-plus-square.left(ng-click='addDay()')
.fixed-action-btn(style='top: 55px')
  a.btn-floating.btn-large.backthree(ng-click='saveCard()')
    i.fa.fa-floppy-o
