.newScheda.hide(ui-tree)
  ol(ui-tree-nodes="" ng-model="list")
    li(ng-repeat="item in list" ui-tree-node)
      div(ui-tree-handle)
        {{item.title}}
      ol(ui-tree-nodes="" ng-model="item.items")
        li(ng-repeat="subItem in item.items" ui-tree-node)
          div(ui-tree-handle)
            {{subItem.title}}
